/* основний колір тексту #212121 */
/* другорядний колір тексту #757575 */
/* чорний #000000 */
/* білий #FFFFFF */
/* акцент #2196F3  */
/* колір фону основний #F5F5F5 */
/* другорядний фон #2F303A */
/* третьорядний фон #F5F4FA */

:root {
    --title-text-color: #212121;
    --primary-text-color: #757575;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --primary-backgroung-color: #F5F5F5;
    --secondary-background-color: #2F303A;
    --accent-color: #2196F3;

}

body {
    background-color: var(--primary-backgroung-color);
    color: var(--title-text-color);
    font-family: Roboto, sans-serif;
}

ul {
    list-style: none; 
}

/* logo */
.logo {
    color: var(--black-color);
    font-family: Raleway, sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        /* identical to box height */
    
        letter-spacing: 0.03em;
}

.web {
    color: var(--accent-color);
}
/* site-nav */
.site-nav a{
    color: var(--title-text-color);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
}

.site-nav a:hover,
.site-nav a:focus {
    color: var(--accent-color);
}
/* portfolio */
.site-nav .portfolio {
    color: var(--title-text-color);
}

.site-nav .portfolio:hover,
.site-nav .portfolio:focus {
    color: var(--accent-color);
}
/* contacts */

.contacts {
    font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
}

.contacts .mail {
    color: var(--primary-text-color);

}

.contacts .mail:hover,
.contacts .mail:focus {
    color: var(--accent-color);
}

.contacts .tel {
    color: var(--primary-text-color);
}

.contacts .tel:hover,
.contacts .tel:focus {
    color: var(--accent-color);
}

/* hero */
.hero {
    background-color: var(--secondary-background-color);
    color: var(--white-color);
}

.hero .hero-title {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;   
}

/* button */
.button {
    color: var(--title-text-color);
    background-color: var(--primary-backgroung-color);
}

/* особливості */

.special-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}
.special-text {
    color: var(--primary-text-color);

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.work .work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

/* team */
.team {
    background-color: #F5F4FA;
}

.team .team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.team .team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    /* identical to box height */
    letter-spacing: 0.03em;
}
.team .team-position {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    /* identical to box height */
    letter-spacing: 0.03em;
}
/* adress */

.adress {
    background-color: #2F303A;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.adress .logo {
    color: var(--white-color);
}

.adress .maps {
    color: var(--white-color);
}

.adress .maps:hover,
.adress .maps:focus {
    color: var(--accent-color);
}
.adress .link {
    color: rgba(255, 255, 255, 0.6);
}

.adress .link:hover,
.adress .link:focus {
    color: var(--accent-color);
}

/* project */

.project .project-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.06em;
}

.project .project-exsample {
    color: var(--primary-text-color);
    /* font-weight: 400; */
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}
